ul {
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
  font-size: 16px;
}
.App {
  text-align: center;
  background-color: rgb(176, 90, 107);
}

.func {
  font-size: 20px;
  color: brown;
}

.class {
  font-size: 20px;
  color: #5b0ad3;
}

.counter {
  max-width: 200px;
  margin: 20px auto 0;
  padding: 10px;
  outline: 1px solid #00ff84;
}
